{:paths ["src" "resources"]
 :deps {org.clojure/clojure     {:mvn/version "1.10.3"}
        backtick/backtick       {:mvn/version "0.3.4"}
        tick/tick               {:mvn/version "0.5.0-RC2"}
        clj-time/clj-time       {:mvn/version "0.15.2"}
        clj-http/clj-http       {:mvn/version "3.12.3"}
        cheshire/cheshire       {:mvn/version "5.10.1"}
        org.eclipse.rdf4j/rdf4j-repository-sparql {:mvn/version "3.7.3"}
        }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-554"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
